@* /Volumes/MacInternalHD/Development/VisualStudio/TimeSheetsCore/TimeSheetsCoreApp/Views/Home/Contact.cshtml *@

@{
    ViewData["Title"] = "Contact";
    Layout = "_IntroLayout";
}

<div class="container mb-auto">
    <div class="row">
        <div class="mx-auto col-md-9">
        </div>
    </div>
</div>
<div class="container">
    <h4>@ViewData["Message"]</h4>
    <br/>
    <br/>
    <address>
        6890 W. Fitzwater Rd.<br />
        Cleveland, OH 44141<br />
        <abbr title="Phone">P:</abbr>
        888.888.4958
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
</div>

@section Scripts {
}

